@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

body{
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

img.pixel-art {
  image-rendering: pixelated; /* Ensures pixel art doesn't get smoothed */
}

/* For modern browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

/* Global custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes flyUp {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px) scale(0.6);
  }
}

.animate-flyUp {
  animation: flyUp 1.2s ease-in-out;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

